<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/common.css">
<title>SEARCH</title>
</head>
<body onload="loadNavigator()">
  <div class="container" id="navigator"></div>
  <div class="container mt-5">
    <h2 align="center">Hotword Search</h2>
    <form th:action="@{/hotwordsearch}" method="get">
      <input type="text" name="keyword" th:value="${keyword}"
        list="hotwords" placeholder="Find by Key Word" size="50">
      <datalist id="hotwords">
        <option th:each="hotword: ${hotwords}"
          th:value="${hotword.name}"
          th:text="${hotword.name} + ' Used: ' +${hotword.useCount} + ' times'">
      </datalist>
      <button type="submit" class="btn btn-info">Search</button>
      <button type="reset" class="btn btn-info">Reset</button>
    </form>
    <table class="table table-bordered table-sm mt-2" id="table">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Title</th>
          <th>ISBN</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="book : ${physicalBooks}" th:field="${l}">
          <td><img alt="Cover" class="img-responsive" th:src="${book.getCoverPath()}"></td>
          <td th:text="${book.title}"></td>
          <td th:text="${book.isbn}"></td>
          <td th:text="${book.author}"></td>
          <td th:text="${book.publisher}"></td>
          <td><a th:href="@{/book-info(bookId=${book.isbn})}"
              class="btn btn-info">Check</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div id="footer">
    <div>
      <label>Recommended Read</label>
      <p>
        <img alt="Cover" class="img-responsive"
          src="img/cover/7-81043-015-7.png">
      </p>
      <p>书名：控制工程基础</p>
      <p>ISBN：7-81043-015-7</p>
      <p>作者：姚伯威编</p>
    </div>
  </div>
  
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</body>
</html>