<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/common.css">
<title>SEARCH</title>
</head>
<body onload="loadNavigator()">
  <div class="container" id="navigator"></div>
  <div class="container mt-5">
    <h2 align="center">Text Search</h2>
    <form th:action="@{/textsearch}" method="post">
      <label>Title: </label>
      <input type="text" name="title" placeholder="Title" size="40">

      <label>Author: </label>
      <input type="text" name="author" placeholder="Author" size="40">

      <label>Bookdex: </label>
      <input type="text" name="bookdex" placeholder="Bookdex" size="40">

      <label>Sub Title: </label>
      <input type="text" name="publisher" placeholder="Sub Title"
        size="40">

      <label>ISBN: </label>
      <input type="text" name="isbn" placeholder="isbn" size="40">

      <label>Sub Title: </label>
      <input type="text" name="subtitle" placeholder="Sub Title"
        size="40">
        
      <select class="form-control" id="textFilter" name="textFilter">
        <!-- name implies the return name of the variable -->
        <option th:each="textFilter: ${textFilters}"
          th:value="${textFilter}" th:text="${textFilter}">
      </select>
      <button type="submit" class="btn btn-info">Search</button>
      <button type="reset" class="btn btn-info">Reset</button>
    </form>

    <table class="table table-bordered table-sm mt-2" id="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="book : ${physicalBooks}" th:field="${l}">
          <td th:text="${book.title}"></td>
          <td th:text="${book.isbn}"></td>
          <td th:text="${book.author}"></td>
          <td th:text="${book.publisher}"></td>
          <td><a th:href="@{/book-info(bookId=${book.isbn})}"
              class="btn btn-info">Check</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</body>
</html>