<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show PhysicalBooks</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <div class="container" id="navigator">
    <ul class="nav nav-pills nav-stacked">

      <li class="active">
        <a href="/simplesearch">Home</a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Searches <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/simplesearch">Simple Search</a>
          </li>
          <li>
            <a href="/advancedsearch">Advanced Search</a>
          </li>
          <li>
            <a href="/textsearch">Text Search</a>
          </li>
          <li>
            <a href="/hotwordsearch">Hotword Search</a>
          </li>
          <li>
            <a href="/oversearch">Over Search</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Admin view <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/showPhysicalBooks">View Physical Books</a>
          </li>
          <li>
            <a href="/showDigitalBooks">View Digital Books</a>
          </li>
          <li>
            <a href="/showUsers">View Users</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Admin add <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/addPhysicalBookForm">Add Physical Book</a>
          </li>
          <li>
            <a href="/addDigitalBookForm">Add Digital Book</a>
          </li>
          <li>
            <a href="/addUserForm">Add User</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/logout">Log out</a>
      </li>

    </ul>
  </div>
  <div class="container mt-4">
    <table class="table table-borded table-striped" id="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="physicalBook: ${physicalBooks}">
          <td th:text="${physicalBook.getIsbn()}"></td>
          <td th:text="${physicalBook.getTitle()}"></td>
          <td><a
              th:href="@{/updatePhysicalBookForm(physicalBookId = ${physicalBook.getIsbn()})}"
              class="btn btn-info mb-2"> Update</a> <a
              th:href="@{/deletePhysicalBook(physicalBookId = ${physicalBook.getIsbn()})}"
              class="btn btn-danger mb-2"> Delete</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</body>
</html>