<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add DigitalBook</title>
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css" />
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  data-integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  data-crossorigin="anonymous">
</head>
<body>
  <div class="container mt-4">
    <form th:action="@{/addDigitalBook}" th:object="${newDigitalBook}"
      method="post">

      <input type="text" th:field="*{isbn}"
        placeholder="Enter digitalBook ISBN"
        class="form-control col-4 mb-4" />

      <input type="text" th:field="*{title}"
        placeholder="Enter digitalBook title "
        class="form-control col-4 mb-4" />

      <input type="text" th:field="*{author}"
        placeholder="Enter digitalBook title "
        class="form-control col-4 mb-4" />

      <input type="text" th:field="*{publisher}"
        placeholder="Enter digitalBook publisher "
        class="form-control col-4 mb-4" />

      <input type="number" th:field="*{pubdate}"
        placeholder="Enter digitalBook publish year "
        class="form-control col-4 mb-4" />

      <input type="text" th:field="*{bookurl}"
        placeholder="Enter digitalBook book url "
        class="form-control col-4 mb-4" />

      <input type="text" th:field="*{source}"
        placeholder="Enter digitalBook source "
        class="form-control col-4 mb-4" />

      <button class="btn btn-primary" type="submit">Save</button>

    </form>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
</body>
</html>