<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show DigitalBooks</title>
<link
	rel="stylesheet"
	type="text/css"
	href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css" />
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	data-integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	data-crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/addDigitalBookForm}" class="btn btn-info mb-2">Add a digitalBook</a>
		<table
			class="table table-borded table-striped"
			id="digitalBook-table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="digitalBook: ${digitalBooks}">
					<td th:text="${digitalBook.getIsbn()}"></td>
					<td th:text="${digitalBook.getTitle()}"></td>
					<td>
						<a 	
							th:href="@{/updateDigitalBookForm(digitalBookId = ${digitalBook.getIsbn()})}"
							class="btn btn-info mb-2">
						Update</a>
						<a 
							th:href="@{/deleteDigitalBook(digitalBookId = ${digitalBook.getIsbn()})}" 
							class="btn btn-danger mb-2">
						Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
</body>
</html>