<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update User</title>
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
</head>
<body onload="loadNavigator()">
  <div id="navigator"></div>
  <div class="container mt-4">
    <form th:action="@{/updateUser}" th:object="${user}" method="post">
      
      <h3>Please input user name:</h3>
      <input type="text" th:field="*{username}" class="form-control col-4 mb-4" />
      
      <h3>Please input password:</h3>
      <input type="text" th:field="*{password}" class="form-control col-4 mb-4">
      
      <h3>Please input user roles:</h3>
      <input type="text" th:field="*{roles}" 
        class="form-control col-4 mb-4">
      
      <input type="hidden" th:field="*{id}" placeholder=""
        class="form-control col-4 mb-4" />

      <button class="btn btn-primary" type="submit">Save</button>

    </form>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</body>
</html>