#navigator {
  float: left;
  width: 20%;
  margin-top: 65px;
}

#main {
  float: right;
  width: 80%;
  display: block;
}

input {
  width: 200px;
  height: 34px;
  display: inline;
}

#filter, #textFilter{
  width: 30%;
  height: 34px;
}

table {
}

#checkbox {
  width: 50px;
  height: 34px;
}

label {
  width:70%;
  height: 34px;
}
