#navigator {
  float: left;
  width: 20%;
  transition: width 0.2s;
  margin-top: 65px;
}

#main {
  float: right;
  width: 80%;
  display: block;
}

input {
  width: 200px;
  height: 34px;
  display: inline;
}

#filter, #textFilter {
  width: 30%;
  height: 34px;
  display: inline;
}

#checkbox {
  width: 18px;
  height: 16px;
}

label {
  width: 54%;
  height: 34px;
}

#div-left, #div-right {
  padding: 10px;
  display: inline-block;
  width: 40%;
}

.radio {
  width: 80px;
  height: 20px;
  display: inline-block;
}

.radio-div {
  width: 100px;
  height: 20px;
  display: inline-block;
}

/* Copy pasted */
/* (A) GLOBAL */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}