<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<title>Book info</title>
<style>
p {
  font-size: large;
  color: #7c1919;
}

label {
  color: #ff5026;
}
</style>
</head>
<body onload="loadNavigator()">
    <div id="navigator"></div>
    <div class="container mt-5">
    <div id="div-left">
      <p>Cover&nbsp; <img alt="Cover" class="img-responsive"
        th:src="${book.getCoverPath()}" />
      </p>
      <p>Index&nbsp; <label th:text="${book.bookdex}">Index</label>
      </p>
      <p>Title&nbsp; <label th:text="${book.title}">Title</label>
      </p>
      <p>Author&nbsp; <label th:text="${book.author}">Author</label>
      </p>
      <p>Publisher&nbsp; <label th:text="${book.publisher}">Publisher</label>
      </p>
      <p>Publish Location&nbsp; <label th:text="${book.publocation}">Publish
          Location</label>
      </p>
      <p>Publish Date&nbsp; <label th:text="${book.pubdate}">Publish
          Date</label>
      </p>
      <p>ISBN&nbsp; <label th:text="${book.isbn}">ISBN</label>
      </p>
      <p>Price&nbsp; <label th:text="${book.price}">Price</label>
      </p>
      <p>Info&nbsp; <label th:text="${book.info}">Price</label>
      </p>
      <p>Author Info&nbsp; <label th:text="${book.authorInfo}">Price</label>
      </p>
    </div>
    <div id="div-right">
      <p>Copy Number&nbsp; <label th:text="${book.copynum}">Copy
          Number</label>
      </p>
      <p>Type&nbsp; <label th:text="${book.type}">Type</label>
      </p>
      <p>Language&nbsp; <label th:text="${book.language}">Language</label>
      </p>
      <p>Sub Title&nbsp; <label th:text="${book.subtitle}">Sub
          Title</label>
      </p>
      <p>QR Code&nbsp; <img alt="QRCode" class="img-responsive"
        th:src="${book.getQRCodePath()}" />
      </p>
      <p>Digital Book&nbsp; <a th:text="${digitalLink}"
          th:href="${digitalLink}" href="/simplesearch"> </a>
      </p>
    </div>
  </div>

   <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  
  <script type="text/javascript">
  	
  </script>
</body>
</html>