<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
  crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/common.css"> 
<title>SEARCH</title>
</head>
<body>
  <div class="container mt-5">
    <h2 align="center">Book Info</h2>
    <h2>Index</h2>
    <label th:text="${book.index}">Index</label>
    <h2>Title</h2>
    <label th:text="${book.title}">Title</label>
    <h2>Author</h2>
    <label th:text="${book.author}">Author</label>
    <h2>Publisher</h2>
    <label th:text="${book.publisher}">Publisher</label>
    <h2>Publish Location</h2>
    <label th:text="${book.publocation}">Publish Location</label>
    <h2>Publish Date</h2>
    <label th:text="${book.pubdate}">Publish Date</label>
    <h2>ISBN</h2>
    <label th:text="${book.isbn}">ISBN</label>
    <h2>Price</h2>
    <label th:text="${book.price}">Price</label>
    <h2>Copy Number</h2>
    <label th:text="${book.copynum}">Copy Number</label>
    <h2>Type</h2>
    <label th:text="${book.type}">Type</label>
    <h2>Language</h2>
    <label th:text="${book.language}">Language</label>
    <h2>Sub Title</h2>
    <label th:text="${book.subtitle}">Sub Title</label>
    <h2>QR Code</h2>
    <img alt="QRCode" class="img-responsive" th:src="${book.getQRCodePath()}"/>
    <h2>Digital Book</h2>
    <a th:text="${digitalLink}" th:href="${digitalLink}" href="/simplesearch"> </a>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
</body>
</html>